.wrapper{
    width: 800px;
    height: 400px;
    background-color: red;
}
.left{
    width: 400px;
    height: 200px;
    background: green;
    float: left;
}
.right{
    width: 380px;
    height: 200px;
    background: blue;
    float: right;
    padding: 10px;
    box-sizing: border-box;

}

.bottom{
    width: 500px;
    height: 200px;
    background: orange;
    margin: auto;
}

.clear{
    clear: both;
}